@{
    ViewData["Title"] = "Home Page";
}

@model List<TrendingResults>

<style>
    img.card-img-top {
        object-fit: cover;
        height: 357px;
    }
  


</style>
    <div class="container">
        <div class="row">
            @for (var i = 0; i < Model.Count; i++)
            {
                <div class="col-lg-3 d-flex align-items-stretch" style="margin-bottom: 15px;">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="https://image.tmdb.org/t/p/w185/@Model[i].poster_path" />
                        <div class="card-body">
                            <h5 class="card-title text-center">@Model[i].title</h5>
                        </div>
                    </div>

                </div>

            }
        </div>
    </div>



