@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model List<Movie>

<style>
    img.card-img-top {
        object-fit: cover;
        height: 357px;
    }
</style>


<div class="container">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="row">
            <div class="col">
                <input type="text" name="movieInput" value="" placeholder="Wyszukaj..." oninput="getMovies(this.value)" class="input-group-text w-100" />
            </div>
        </div>
        <br />

        <div class="row" id="search_results">

        </div>
        <div class="row">
            <h5 class="text-center">Moje filmy</h5>
        </div>
        <div class="row">

            @for (var i = 0; i < Model.Count; i++)
            {
                <div class="col-lg-3">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="https://image.tmdb.org/t/p/w185/@Model[i].poster_path" />
                        <div class="card-body">
                            <h5 class="card-title text-center">@Model[i].title</h5>
                            <div class="card-text">Średnia ocen: @Model[i].vote_average</div>
                            <br />
                            <a  asp-controller="MyList" asp-action="DeleteMovie" asp-route-id="@Model[i].id" class="btn btn-primary">Usuń</a>
                        </div>

                    </div>
                </div>
            }

        </div>
    }
    @if(!SignInManager.IsSignedIn(User)) {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Aby korzystać z tej strony musisz się zalogować!</h5>
                <br />
                <center> 
                    <a href="/Identity/Account/Login" class="btn-lg btn-primary text-center">Zaloguj</a>
                    <a href="/Identity/Account/Register" class="btn-lg btn-primary text-center">Zarejestruj</a>
                </center>
               
            </div>
        </div>
    }
    
    </div>


